In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
% matplotlib inline

Don't use hostgal_photoz

z = 0 -> in MW

flux <0 -> 0

In [6]:
directory_path = "./"

metadata_columns = ["object_id", "ra", "decl", "gal_l", "gal_b"	"ddf",
                    "hostgal_specz", "hostgal_photoz", "hostgal_photoz_err",
                    "distmod", "mwebv", "target"]

data_columns = ["object_id", "mjd", "passband", "flux", "flux_err",
                "detected"]

In [4]:
def read(test=False):

    """Reads in data and metadata"""

    if test:
        data = pd.read_csv(directory_path + '/data/test_set_sample.csv', nrows=1e3)
        metadata = pd.read_csv(directory_path +
                               "/data/test_set_metadata.csv", nrows=1e3)

    else:
        data = pd.read_csv(directory_path + "/data/training_set.csv", nrows=1e3)
        metadata = pd.read_csv(directory_path +
                               "/data/training_set_metadata.csv", nrows=1e3)

    return data, metadata

In [54]:
test = False
data, metadata = read(test)

In [55]:
data.ix[data.flux < 0 , ['flux']] = 0

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [56]:
data.head(10)

   object_id         mjd  passband  flux   flux_err  detected
0        615  59750.4229         2   0.0   3.622952         1
1        615  59750.4306         1   0.0   5.553370         1
2        615  59750.4383         3   0.0   3.801213         1
3        615  59750.4450         4   0.0  11.395031         1
4        615  59752.4070         2   0.0   4.041204         1
5        615  59752.4147         1   0.0   6.472994         1
6        615  59752.4224         3   0.0   3.552751         1
7        615  59752.4334         4   0.0   3.599346         1
8        615  59752.4435         5   0.0  10.421921         1
9        615  59767.2968         2   0.0   3.462291         1

In [43]:
# merged = pd.merge(data, metadata, on='object_id', how='right')

In [44]:
# merged.head(10)

,object_id,mjd,passband,flux,flux_err,detected,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,59750.4229,2.0,0.0,3.622952,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
1,615,59750.4306,1.0,0.0,5.553370,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
2,615,59750.4383,3.0,0.0,3.801213,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
3,615,59750.4450,4.0,0.0,11.395031,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
4,615,59752.4070,2.0,0.0,4.041204,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
5,615,59752.4147,1.0,0.0,6.472994,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
6,615,59752.4224,3.0,0.0,3.552751,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
7,615,59752.4334,4.0,0.0,3.599346,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
8,615,59752.4435,5.0,0.0,10.421921,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92
9,615,59767.2968,2.0,0.0,3.462291,1.0,349.046051,-61.943836,320.79653,-51.753706,1,0.0,0.0,0.0,NaN,0.017,92

In [66]:
data['passb_1'] = data.flux[data.passband == 1]
data['passb_2'] = data.flux[data.passband == 2]
data['passb_3'] = data.flux[data.passband == 3]
data['passb_4'] = data.flux[data.passband == 4]
data['passb_5'] = data.flux[data.passband == 5]

In [67]:
data.head()

,object_id,mjd,passband,flux,flux_err,detected,passb_1,passb_2,passb_3,passb_4,passb_5
0,615,59750.4229,2,0.0,3.622952,1,NaN,0.0,NaN,NaN,NaN
1,615,59750.4306,1,0.0,5.553370,1,0.0,NaN,NaN,NaN,NaN
2,615,59750.4383,3,0.0,3.801213,1,NaN,NaN,0.0,NaN,NaN
3,615,59750.4450,4,0.0,11.395031,1,NaN,NaN,NaN,0.0,NaN
4,615,59752.4070,2,0.0,4.041204,1,NaN,0.0,NaN,NaN,NaN

In [68]:
data['passb_1_e'] = data.flux_err[data.passband == 1]
data['passb_2_e'] = data.flux_err[data.passband == 2]
data['passb_3_e'] = data.flux_err[data.passband == 3]
data['passb_4_e'] = data.flux_err[data.passband == 4]
data['passb_5_e'] = data.flux_err[data.passband == 5]

In [69]:
data.head()

,object_id,mjd,passband,flux,flux_err,detected,passb_1,passb_2,passb_3,passb_4,passb_5,passb_1_e,passb_2_e,passb_3_e,passb_4_e,passb_5_e
0,615,59750.4229,2,0.0,3.622952,1,NaN,0.0,NaN,NaN,NaN,NaN,3.622952,NaN,NaN,NaN
1,615,59750.4306,1,0.0,5.553370,1,0.0,NaN,NaN,NaN,NaN,5.55337,NaN,NaN,NaN,NaN
2,615,59750.4383,3,0.0,3.801213,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,3.801213,NaN,NaN
3,615,59750.4450,4,0.0,11.395031,1,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,11.395031,NaN
4,615,59752.4070,2,0.0,4.041204,1,NaN,0.0,NaN,NaN,NaN,NaN,4.041204,NaN,NaN,NaN

In [70]:
passbands = ['passb_1', 'passb_2', 'passb_3', 'passb_4', 'passb_5']
for band in passbands:
    data[band] = data[band].fillna(0)
    data[band + '_e'] = data[band + '_e'].fillna(0)

In [72]:
data.head()

,object_id,mjd,passband,flux,flux_err,detected,passb_1,passb_2,passb_3,passb_4,passb_5,passb_1_e,passb_2_e,passb_3_e,passb_4_e,passb_5_e
0,615,59750.4229,2,0.0,3.622952,1,0.0,0.0,0.0,0.0,0.0,0.00000,3.622952,0.000000,0.000000,0.0
1,615,59750.4306,1,0.0,5.553370,1,0.0,0.0,0.0,0.0,0.0,5.55337,0.000000,0.000000,0.000000,0.0
2,615,59750.4383,3,0.0,3.801213,1,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,3.801213,0.000000,0.0
3,615,59750.4450,4,0.0,11.395031,1,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,11.395031,0.0
4,615,59752.4070,2,0.0,4.041204,1,0.0,0.0,0.0,0.0,0.0,0.00000,4.041204,0.000000,0.000000,0.0

In [76]:
groups = data.groupby(['object_id'])\
        .agg({'flux': np.mean, 'passb_1':np.mean, 'passb_2':np.mean, 'passb_3':np.mean,\
          'passb_4':np.mean, 'passb_5':np.mean,'passb_1_e':np.mean, 'passb_2_e':np.mean, 'passb_3_e':np.mean,\
          'passb_4_e':np.mean, 'passb_5_e':np.mean})

In [81]:
groups.head()

,flux,passb_1,passb_2,passb_3,passb_4,passb_5,passb_1_e,passb_2_e,passb_3_e,passb_4_e,passb_5_e
object_id,,,,,,,,,,,
615,101.379894,19.175027,24.125313,16.114225,17.592464,18.004050,0.828644,0.556981,0.550360,0.625932,1.236515
713,2.120061,0.309522,0.337268,0.362218,0.377564,0.354659,0.226717,0.190870,0.262425,0.363017,0.850312
730,3.257011,0.129099,0.445749,0.644111,0.824733,1.058449,0.233397,0.201719,0.285619,0.391154,0.938248

In [84]:
merged = pd.merge(groups, metadata, left_index=True, right_on='object_id').set_index('object_id')

In [85]:
merged.head()

,flux,passb_1,passb_2,passb_3,passb_4,passb_5,passb_1_e,passb_2_e,passb_3_e,passb_4_e,...,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
object_id,,,,,,,,,,,,,,,,,,,,,
615,101.379894,19.175027,24.125313,16.114225,17.592464,18.004050,0.828644,0.556981,0.550360,0.625932,...,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
713,2.120061,0.309522,0.337268,0.362218,0.377564,0.354659,0.226717,0.190870,0.262425,0.363017,...,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
730,3.257011,0.129099,0.445749,0.644111,0.824733,1.058449,0.233397,0.201719,0.285619,0.391154,...,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42